.test {
    background-color: rgb(255, 247, 205);
    max-width: 1024px;
    margin: auto;
    margin-top: 2rem;
    text-align: center;
    padding: 1rem;
}



.test__title {
    padding: 1rem;
    margin: 0;
}

.test__city_wrapper {
    display: flex;
    justify-content: space-around;
}

.test__find_city_cntr {
    position: relative;
    display: flex;
    padding: 1rem;
}

/* NEW */

.test__find_city_select {
    text-align: left;
}

/* drop-off list elements*/
.css-1nmdiq5-menu {
    text-align: left;
}

.test__find_city_input {
    height: 2rem;
    width: 24rem;
    border: none;
    outline: none;
    margin: 0 0 0 1rem;
    padding: 0 1rem;

}

.test__find_city_list {
    position: absolute;
    top: 3rem;
    left: 2rem;
    width: 24rem;
    background-color: rgb(218, 249, 168);
    text-align: left;
    padding-left: 1rem;
    padding-right: 1rem;
    cursor: pointer;
}



.test__find_city_list_hidden {
    display: none;
}

.test_find_city_list_city {
    margin: 0;
    padding: 0.2rem;
    list-style: none;
}

.test_find_city_list_city:hover {
    background-color: rgb(185, 245, 90);
}

.test_find_city_list_city:focus {
    background-color: rgb(185, 245, 90);
}

.test__find_city_remove_cross {
    height: 2rem;
    position: absolute;
    left: 24.5rem;
    top: 1.4rem
}

.test__find_city_location_btn {
    width: 2rem;
    height: 2rem;
    border: none;
}

.test__find_city_location_btn_logo {
    padding-top: 1px;
}

.test__choosen_location_cntr {}

.test__choosen_location_value {
    width: 20rem;
}

.test__choosen_geolocation_data {
    display: flex;
    flex-direction: column;
}

.test__choosen_geolocation_coordinates {
    display: flex;
}

.test__choosen_geolocation_coordinates_name {
    width: 12rem;
    text-align: right;
    padding-right: 1rem;
}

.test__choosen_geolocation_coordinates_value {
    width: 8rem;
    text-align: left;
}

.test__not_choosen_location {
    width: 20rem;
}