.head__cntr {
    max-width: 1024px;
    margin: auto;
    margin-top: 2rem;
    text-align: center;
    /* background-color: aqua; */
    padding: 1rem;
}

/* .head__form_cntr {
    display: flex;
    height: 1.5rem;
} */

.head__title {
    padding: 1rem;
    margin: 0;
}

.head__city_wrapper {
    display: flex;
    justify-content: space-around;
}

.head__find_city_cntr {
    position: relative;
    display: flex;
    padding: 1rem;
}

.head__find_city_input {
    height: 2rem;
    width: 24rem;
    border: none;
    outline: none;
    margin: 0 0 0 1rem;
    padding: 0 1rem;

}

.head__find_city_list {
    position: absolute;
    top: 3rem;
    left: 2rem;
    width: 24rem;
    background-color: rgb(218, 249, 168);
    text-align: left;
    padding-left: 1rem;
    padding-right: 1rem;
    cursor: pointer;
}



.head__find_city_list_hidden {
    display: none;
}

.head_find_city_list_city {
    margin: 0;
    padding: 0.2rem;
}

.head_find_city_list_city:hover {
    background-color: rgb(185, 245, 90);
}

.head_find_city_list_city:focus {
    background-color: rgb(185, 245, 90);
}

.head__find_city_list p.selected {
    background-color: red;
}

.head__find_city_remove_cross {
    height: 2rem;
    position: absolute;
    left: 24.5rem;
    top: 1.4rem
}

.head__find_city_location_btn {
    width: 2rem;
    height: 2rem;
    border: none;
}

.head__find_city_location_btn_logo {
    padding-top: 1px;
}

.head__choosen_location_cntr {}

.head__choosen_location_value {
    width: 20rem;
}

.head__choosen_geolocation_data {
    display: flex;
    flex-direction: column;
}

.head__choosen_geolocation_coordinates {
    display: flex;
}

.head__choosen_geolocation_coordinates_name {
    width: 12rem;
    text-align: right;
    padding-right: 1rem;
}

.head__choosen_geolocation_coordinates_value {
    width: 8rem;
    text-align: left;
}

.head__not_choosen_location {
    width: 20rem;
}