.head__cntr {
    max-width: 1024px;
    margin: auto;
    margin-top: 2rem;
    text-align: center;
    padding: 1rem;
}

.head__title {
    padding: 1rem;
    margin: 0;
}

.head__city_wrapper {
    display: flex;
    justify-content: space-around;
}

.head__find_city_cntr {
    position: relative;
    display: flex;
    padding: 1rem;
}



.head__choosen_location_value {
    width: 20rem;
}

.head__choosen_geolocation_data {
    display: flex;
    flex-direction: column;
}

.head__choosen_geolocation_coordinates {
    display: flex;
}

.head__choosen_geolocation_coordinates_name {
    width: 12rem;
    text-align: right;
    padding-right: 1rem;
}

.head__choosen_geolocation_coordinates_value {
    width: 8rem;
    text-align: left;
}

.head__not_choosen_location {
    width: 20rem;
}