.daily__cntr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    display: flex;
    text-align: center;
}

.daily__general_cntr {
    flex: 1;
    padding-left: 2rem;
    padding-bottom: 2rem;
}

.daily__general_desc {
    padding-bottom: 1.5rem;
}

.daily__general_wrapper {
    display: flex;
    justify-content: space-around;
}

.daily__general_real {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.daily__general_sky_desc {
    font-style: italic;
}

.daily__details_cntr {
    flex: 1;
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.daily__details_sun {
    display: flex;
    justify-content: center;
}

.daily__details_sun_elem {
    display: flex;
    padding-left: 2rem;
    padding-bottom: 2rem;
    min-height: 4rem;
}

.daily_details_elem_icon {
    width: 2rem;
    margin-right: 1rem;
}

.daily__details_elem {
    display: flex;
}

.daily__details_elem_left {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.daily__details_elem_right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 1rem;
}

.daily__details_elem_right_empty {
    width: 4rem;
}

.daily__details_elem p {
    line-height: 1.5rem;
}

.daily_general_params_value {
    font-weight: 600;
    font-size: 2rem;
}

.daily__params_name {}

.daily__params_value {
    font-weight: 600;
}


@media screen and (max-width: 768px) {
    .daily__cntr {
        padding: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .daily__general_cntr {
        padding-left: 0;
    }

    .daily__general_wrapper {
        justify-content: center;
    }

    .daily__general_sky_and_temp {
        padding-left: 1rem;
    }
}