.App {
    background: red;
    background-image: linear-gradient(to bottom, aqua, rgb(132, 154, 253), rgb(201, 132, 253), rgb(201, 132, 253), rgb(201, 132, 253), rgb(145, 97, 183));
    max-width: 1024px;
    margin: auto;
    margin-top: 2rem;
}