* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(91, 62, 115);
  background-image: linear-gradient(to bottom, aqua, rgb(132, 154, 253), rgb(201, 132, 253), rgb(201, 132, 253), rgb(201, 132, 253), rgb(145, 97, 183), rgb(91, 62, 115));
  min-height: 100vh;
}